[user]
	name = Verique
	email = suolucitem@gmail.com
[core]
	longpaths = true
	editor = nvim
	autocrlf = false
[pull]
	rebase = true
[fetch]
	prune = true
[rebase]
	autoStash = false
[diff]
	tool = nvimdiff
	guitool = nvimdiff
[merge]
	tool = nvimdiff
	guitool = nvimdiff
[mergetool "nvimdiff"]
    path = nvim
[push]
	autoSetupRemote = true
	default = current
[credential "https://git.pik.ru"]
	provider = generic
